<launch>
<arg name="launch_kinect" default="false" />

<group if="$(arg launch_kinect)">

<include file="$(find kinect_baxter_calibration)/launch/publish_calibration.launch" />
<include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch">
	<arg name="depth_method" value="cudakde" />
	<arg name="use_png" value="true" />
	<arg name="publish_tf" value="true" />
</include>

</group>

<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />

<node name="ros_reality_bridge" pkg="ros_reality_bridge" type="unityNode.py" />	



</launch>
